{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>Make a booking:</h3>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <div>{{ test }}</div>
        {% if user.is_authenticated %}
        <p><strong>Username: </strong> {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em;">
          {{ booking_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>

</div>

{% endblock %}